In [3]:
from pmlb import fetch_data, dataset_names, regression_dataset_names, classification_dataset_names

In [2]:
adult_data_x, adult_data_y = fetch_data('adult', return_X_y=True, local_cache_dir="./../../data/raw/")

In [4]:
adult = fetch_data('adult')

In [5]:
adult

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,39.0,7,77516.0,9,13.0,4,1,1,4,1,2174.0,0.0,40.0,39,1
1,50.0,6,83311.0,9,13.0,2,4,0,4,1,0.0,0.0,13.0,39,1
2,38.0,4,215646.0,11,9.0,0,6,1,4,1,0.0,0.0,40.0,39,1
3,53.0,4,234721.0,1,7.0,2,6,0,2,1,0.0,0.0,40.0,39,1
4,28.0,4,338409.0,9,13.0,2,10,5,2,0,0.0,0.0,40.0,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39.0,4,215419.0,9,13.0,0,10,1,4,0,0.0,0.0,36.0,39,1
48838,64.0,0,321403.0,11,9.0,6,0,2,2,1,0.0,0.0,40.0,39,1
48839,38.0,4,374983.0,9,13.0,2,10,0,4,1,0.0,0.0,50.0,39,1
48840,44.0,4,83891.0,9,13.0,0,1,3,1,1,5455.0,0.0,40.0,39,1
48841,35.0,5,182148.0,9,13.0,2,4,0,4,1,0.0,0.0,60.0,39,0

In [3]:
adult_data_x

array([[3.90000e+01, 7.00000e+00, 7.75160e+04, ..., 0.00000e+00,
        4.00000e+01, 3.90000e+01],
       [5.00000e+01, 6.00000e+00, 8.33110e+04, ..., 0.00000e+00,
        1.30000e+01, 3.90000e+01],
       [3.80000e+01, 4.00000e+00, 2.15646e+05, ..., 0.00000e+00,
        4.00000e+01, 3.90000e+01],
       ...,
       [3.80000e+01, 4.00000e+00, 3.74983e+05, ..., 0.00000e+00,
        5.00000e+01, 3.90000e+01],
       [4.40000e+01, 4.00000e+00, 8.38910e+04, ..., 0.00000e+00,
        4.00000e+01, 3.90000e+01],
       [3.50000e+01, 5.00000e+00, 1.82148e+05, ..., 0.00000e+00,
        6.00000e+01, 3.90000e+01]])

In [4]:
print(regression_dataset_names)

['1027_ESL', '1028_SWD', '1029_LEV', '1030_ERA', '1089_USCrime', '1096_FacultySalaries', '1191_BNG_pbc', '1193_BNG_lowbwt', '1196_BNG_pharynx', '1199_BNG_echoMonths', '1201_BNG_breastTumor', '1203_BNG_pwLinear', '1595_poker', '192_vineyard', '195_auto_price', '197_cpu_act', '201_pol', '207_autoPrice', '210_cloud', '215_2dplanes', '218_house_8L', '225_puma8NH', '227_cpu_small', '228_elusage', '229_pwLinear', '230_machine_cpu', '294_satellite_image', '344_mv', '4544_GeographicalOriginalofMusic', '485_analcatdata_vehicle', '503_wind', '505_tecator', '519_vinnie', '522_pm10', '523_analcatdata_neavote', '527_analcatdata_election2000', '529_pollen', '537_houses', '542_pollution', '547_no2', '556_analcatdata_apnea2', '557_analcatdata_apnea1', '560_bodyfat', '561_cpu', '562_cpu_small', '564_fried', '573_cpu_act', '574_house_16H', '579_fri_c0_250_5', '581_fri_c3_500_25', '582_fri_c1_500_25', '583_fri_c1_1000_50', '584_fri_c4_500_25', '586_fri_c3_1000_25', '588_fri_c4_1000_100', '589_fri_c2_1000_25', '590_fri_c0_1000_50', '591_fri_c1_100_10', '592_fri_c4_1000_25', '593_fri_c1_1000_10', '594_fri_c2_100_5', '595_fri_c0_1000_10', '596_fri_c2_250_5', '597_fri_c2_500_5', '598_fri_c0_1000_25', '599_fri_c2_1000_5', '601_fri_c1_250_5', '602_fri_c3_250_10', '603_fri_c0_250_50', '604_fri_c4_500_10', '605_fri_c2_250_25', '606_fri_c2_1000_10', '607_fri_c4_1000_50', '608_fri_c3_1000_10', '609_fri_c0_1000_5', '611_fri_c3_100_5', '612_fri_c1_1000_5', '613_fri_c3_250_5', '615_fri_c4_250_10', '616_fri_c4_500_50', '617_fri_c3_500_5', '618_fri_c3_1000_50', '620_fri_c1_1000_25', '621_fri_c0_100_10', '622_fri_c2_1000_50', '623_fri_c4_1000_10', '624_fri_c0_100_5', '626_fri_c2_500_50', '627_fri_c2_500_10', '628_fri_c3_1000_5', '631_fri_c1_500_5', '633_fri_c0_500_25', '634_fri_c2_100_10', '635_fri_c0_250_10', '637_fri_c1_500_50', '641_fri_c1_500_10', '643_fri_c2_500_25', '644_fri_c4_250_25', '645_fri_c3_500_50', '646_fri_c3_500_10', '647_fri_c1_250_10', '648_fri_c1_250_50', '649_fri_c0_500_5', '650_fri_c0_500_50', '651_fri_c0_100_25', '653_fri_c0_250_25', '654_fri_c0_500_10', '656_fri_c1_100_5', '657_fri_c2_250_10', '658_fri_c3_250_25', '659_sleuth_ex1714', '663_rabe_266', '665_sleuth_case2002', '666_rmftsa_ladata', '678_visualizing_environmental', '687_sleuth_ex1605', '690_visualizing_galaxy', '695_chatfield_4', '706_sleuth_case1202', '712_chscase_geyser1', 'banana', 'titanic']

In [5]:
xs, ys = fetch_data(classification_dataset_names[2], return_X_y=True, local_cache_dir="./../../data/raw/")

In [6]:
xs

array([[0, 0, 2, ..., 0, 0, 1],
       [0, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 1, ..., 1, 0, 0],
       [0, 1, 0, ..., 0, 1, 1],
       [0, 1, 2, ..., 1, 1, 1]])

In [7]:
ys

array([1, 1, 1, ..., 0, 0, 0])

In [8]:
for ii in range(3):
    data = fetch_data(classification_dataset_names[50+ii])
    print(data.describe())

              Age         Sex  Chest pain type    Trestbps  Cholesterol  \
count  303.000000  303.000000       303.000000  303.000000   303.000000
mean    54.366337    0.683168         1.881188  131.623762   246.264026
std      9.082101    0.466011         1.006145   17.538143    51.830751
min     29.000000    0.000000         0.000000   94.000000   126.000000
25%     47.500000    0.000000         2.000000  120.000000   211.000000
50%     55.000000    1.000000         2.000000  130.000000   240.000000
75%     61.000000    1.000000         3.000000  140.000000   274.500000
max     77.000000    1.000000         3.000000  200.000000   564.000000

       Fasting blood sugar &lt; 120  Resting ecg  Max heart rate  \
count                    303.000000   303.000000      303.000000
mean                       0.148515     1.488449      149.646865
std                        0.356198     0.526483       22.905161
min                        0.000000     0.000000       71.000000
25%                        0.000000     1.000000      133.500000
50%                        0.000000     2.000000      153.000000
75%                        0.000000     2.000000      166.000000
max                        1.000000     2.000000      202.000000

       Exercise induced angina     Oldpeak       Slope  \
count               303.000000  303.000000  303.000000
mean                  0.326733    1.039604    1.399340
std                   0.469794    1.161075    0.616226
min                   0.000000    0.000000    0.000000
25%                   0.000000    0.000000    1.000000
50%                   0.000000    0.800000    1.000000
75%                   1.000000    1.600000    2.000000
max                   1.000000    6.200000    2.000000

       Number of vessels colored        Thal      target
count                 303.000000  303.000000  303.000000
mean                    0.729373    2.313531    0.455446
std                     1.022606    0.612277    0.498835
min                     0.000000    0.000000    0.000000
25%                     0.000000    2.000000    0.000000
50%                     0.000000    2.000000    0.000000
75%                     1.000000    3.000000    1.000000
max                     4.000000    3.000000    1.000000
              age         sex          cp    trestbps        chol         fbs  \
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean    54.438944    0.679868    3.158416  131.689769  246.693069    0.148515
std      9.038662    0.467299    0.960126   17.599748   51.776918    0.356198
min     29.000000    0.000000    1.000000   94.000000  126.000000    0.000000
25%     48.000000    0.000000    3.000000  120.000000  211.000000    0.000000
50%     56.000000    1.000000    3.000000  130.000000  241.000000    0.000000
75%     61.000000    1.000000    4.000000  140.000000  275.000000    0.000000
max     77.000000    1.000000    4.000000  200.000000  564.000000    1.000000

          restecg     thalach       exang     oldpeak       slope          ca  \
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean     0.990099  149.607261    0.326733    1.039604    1.600660    0.716172
std      0.994971   22.875003    0.469794    1.161075    0.616226    1.005927
min      0.000000   71.000000    0.000000    0.000000    1.000000    0.000000
25%      0.000000  133.500000    0.000000    0.000000    1.000000    0.000000
50%      1.000000  153.000000    0.000000    0.800000    2.000000    0.000000
75%      2.000000  166.000000    1.000000    1.600000    2.000000    1.000000
max      2.000000  202.000000    1.000000    6.200000    3.000000    4.000000

             thal      target
count  303.000000  303.000000
mean     0.851485    0.937294
std      0.970282    1.228536
min      0.000000    0.000000
25%      0.000000    0.000000
50%      0.000000    0.000000
75%      2.000000    2.000000
max      3.000000    4.000000
              sex          cp         fbs     restecg       exang       slope  \
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean     0.679868    3.158416    0.148515    0.990099    0.326733    1.600660
std      0.467299    0.960126    0.356198    0.994971    0.469794    0.616226
min      0.000000    1.000000    0.000000    0.000000    0.000000    1.000000
25%      0.000000    3.000000    0.000000    0.000000    0.000000    1.000000
50%      1.000000    3.000000    0.000000    1.000000    0.000000    2.000000
75%      1.000000    4.000000    0.000000    2.000000    1.000000    2.000000
max      1.000000    4.000000    1.000000    2.000000    1.000000    3.000000

             thal      target
count  303.000000  303.000000
mean     0.851485    0.937294
std      0.970282    1.228536
min      0.000000    0.000000
25%      0.000000    0.000000
50%      0.000000    0.000000
75%      2.000000    2.000000
max      3.000000    4.000000

In [9]:
len(classification_dataset_names)

162

In [10]:
max(data.target)

4

In [11]:
data.shape

(303, 8)

In [12]:
candidates = []
# for ii in range(len(classification_dataset_names)):
#     print(classification_dataset_names[ii])
#     data = fetch_data(classification_dataset_names[ii])
#     if max(data.target == 1):
#         print("is candidate")
#         candidates.append({
#             "name":classification_dataset_names[ii],
#             "length":data.shape[0],
#             "width":data.shape[1]
#         })
candidates = [{'name': 'GAMETES_Epistasis_2_Way_1000atts_0.4H_EDM_1_EDM_1_1',
  'length': 1600,
  'width': 1001},
 {'name': 'GAMETES_Epistasis_2_Way_20atts_0.1H_EDM_1_1',
  'length': 1600,
  'width': 21},
 {'name': 'GAMETES_Epistasis_2_Way_20atts_0.4H_EDM_1_1',
  'length': 1600,
  'width': 21},
 {'name': 'GAMETES_Epistasis_3_Way_20atts_0.2H_EDM_1_1',
  'length': 1600,
  'width': 21},
 {'name': 'GAMETES_Heterogeneity_20atts_1600_Het_0.4_0.2_50_EDM_2_001',
  'length': 1600,
  'width': 21},
 {'name': 'GAMETES_Heterogeneity_20atts_1600_Het_0.4_0.2_75_EDM_2_001',
  'length': 1600,
  'width': 21},
 {'name': 'Hill_Valley_with_noise', 'length': 1212, 'width': 101},
 {'name': 'Hill_Valley_without_noise', 'length': 1212, 'width': 101},
 {'name': 'adult', 'length': 48842, 'width': 15},
 {'name': 'agaricus_lepiota', 'length': 8145, 'width': 23},
 {'name': 'allbp', 'length': 3772, 'width': 30},
 {'name': 'allhyper', 'length': 3771, 'width': 30},
 {'name': 'allhypo', 'length': 3770, 'width': 30},
 {'name': 'allrep', 'length': 3772, 'width': 30},
 {'name': 'analcatdata_aids', 'length': 50, 'width': 5},
 {'name': 'analcatdata_asbestos', 'length': 83, 'width': 4},
 {'name': 'analcatdata_authorship', 'length': 841, 'width': 71},
 {'name': 'analcatdata_bankruptcy', 'length': 50, 'width': 7},
 {'name': 'analcatdata_boxing1', 'length': 120, 'width': 4},
 {'name': 'analcatdata_boxing2', 'length': 132, 'width': 4},
 {'name': 'analcatdata_creditscore', 'length': 100, 'width': 7},
 {'name': 'analcatdata_cyyoung8092', 'length': 97, 'width': 11},
 {'name': 'analcatdata_cyyoung9302', 'length': 92, 'width': 11},
 {'name': 'analcatdata_dmft', 'length': 797, 'width': 5},
 {'name': 'analcatdata_fraud', 'length': 42, 'width': 12},
 {'name': 'analcatdata_germangss', 'length': 400, 'width': 6},
 {'name': 'analcatdata_happiness', 'length': 60, 'width': 4},
 {'name': 'analcatdata_japansolvent', 'length': 52, 'width': 10},
 {'name': 'analcatdata_lawsuit', 'length': 264, 'width': 5},
 {'name': 'ann_thyroid', 'length': 7200, 'width': 22},
 {'name': 'appendicitis', 'length': 106, 'width': 8},
 {'name': 'australian', 'length': 690, 'width': 15},
 {'name': 'auto', 'length': 202, 'width': 26},
 {'name': 'backache', 'length': 180, 'width': 33},
 {'name': 'balance_scale', 'length': 625, 'width': 5},
 {'name': 'biomed', 'length': 209, 'width': 9},
 {'name': 'breast', 'length': 699, 'width': 11},
 {'name': 'breast_cancer', 'length': 286, 'width': 10},
 {'name': 'breast_cancer_wisconsin', 'length': 569, 'width': 31},
 {'name': 'breast_w', 'length': 699, 'width': 10},
 {'name': 'buggyCrx', 'length': 690, 'width': 16},
 {'name': 'bupa', 'length': 345, 'width': 6},
 {'name': 'calendarDOW', 'length': 399, 'width': 33},
 {'name': 'car', 'length': 1728, 'width': 7},
 {'name': 'car_evaluation', 'length': 1728, 'width': 22},
 {'name': 'cars', 'length': 392, 'width': 9},
 {'name': 'chess', 'length': 3196, 'width': 37},
 {'name': 'churn', 'length': 5000, 'width': 21},
 {'name': 'clean1', 'length': 476, 'width': 169},
 {'name': 'clean2', 'length': 6598, 'width': 169},
 {'name': 'cleve', 'length': 303, 'width': 14},
 {'name': 'cleveland', 'length': 303, 'width': 14},
 {'name': 'cleveland_nominal', 'length': 303, 'width': 8},
 {'name': 'cloud', 'length': 108, 'width': 8},
 {'name': 'cmc', 'length': 1473, 'width': 10},
 {'name': 'coil2000', 'length': 9822, 'width': 86},
 {'name': 'colic', 'length': 368, 'width': 23},
 {'name': 'collins', 'length': 485, 'width': 24},
 {'name': 'confidence', 'length': 72, 'width': 4},
 {'name': 'connect_4', 'length': 67557, 'width': 43},
 {'name': 'contraceptive', 'length': 1473, 'width': 10},
 {'name': 'corral', 'length': 160, 'width': 7},
 {'name': 'credit_a', 'length': 690, 'width': 16},
 {'name': 'credit_g', 'length': 1000, 'width': 21},
 {'name': 'crx', 'length': 690, 'width': 16},
 {'name': 'dermatology', 'length': 366, 'width': 35},
 {'name': 'diabetes', 'length': 768, 'width': 9},
 {'name': 'dis', 'length': 3772, 'width': 30},
 {'name': 'dna', 'length': 3186, 'width': 181},
 {'name': 'ecoli', 'length': 327, 'width': 8},
 {'name': 'fars', 'length': 100968, 'width': 30},
 {'name': 'flags', 'length': 178, 'width': 44},
 {'name': 'flare', 'length': 1066, 'width': 11},
 {'name': 'german', 'length': 1000, 'width': 21},
 {'name': 'glass', 'length': 205, 'width': 10},
 {'name': 'glass2', 'length': 163, 'width': 10},
 {'name': 'haberman', 'length': 306, 'width': 4},
 {'name': 'hayes_roth', 'length': 160, 'width': 5},
 {'name': 'heart_c', 'length': 303, 'width': 14},
 {'name': 'heart_h', 'length': 294, 'width': 14},
 {'name': 'heart_statlog', 'length': 270, 'width': 14},
 {'name': 'hepatitis', 'length': 155, 'width': 20},
 {'name': 'horse_colic', 'length': 368, 'width': 23},
 {'name': 'house_votes_84', 'length': 435, 'width': 17},
 {'name': 'hungarian', 'length': 294, 'width': 14},
 {'name': 'hypothyroid', 'length': 3163, 'width': 26},
 {'name': 'ionosphere', 'length': 351, 'width': 35},
 {'name': 'iris', 'length': 150, 'width': 5},
 {'name': 'irish', 'length': 500, 'width': 6},
 {'name': 'kddcup', 'length': 494020, 'width': 42},
 {'name': 'kr_vs_kp', 'length': 3196, 'width': 37},
 {'name': 'krkopt', 'length': 28056, 'width': 7},
 {'name': 'labor', 'length': 57, 'width': 17},
 {'name': 'led24', 'length': 3200, 'width': 25},
 {'name': 'led7', 'length': 3200, 'width': 8},
 {'name': 'letter', 'length': 20000, 'width': 17},
 {'name': 'lupus', 'length': 87, 'width': 4},
 {'name': 'lymphography', 'length': 148, 'width': 19},
 {'name': 'magic', 'length': 19020, 'width': 11},
 {'name': 'mfeat_factors', 'length': 2000, 'width': 217},
 {'name': 'mfeat_fourier', 'length': 2000, 'width': 77},
 {'name': 'mfeat_karhunen', 'length': 2000, 'width': 65},
 {'name': 'mfeat_morphological', 'length': 2000, 'width': 7},
 {'name': 'mfeat_pixel', 'length': 2000, 'width': 241},
 {'name': 'mfeat_zernike', 'length': 2000, 'width': 48},
 {'name': 'mnist', 'length': 70000, 'width': 785},
 {'name': 'mofn_3_7_10', 'length': 1324, 'width': 11},
 {'name': 'molecular_biology_promoters', 'length': 106, 'width': 58},
 {'name': 'monk1', 'length': 556, 'width': 7},
 {'name': 'monk2', 'length': 601, 'width': 7},
 {'name': 'monk3', 'length': 554, 'width': 7},
 {'name': 'movement_libras', 'length': 360, 'width': 91},
 {'name': 'mushroom', 'length': 8124, 'width': 23},
 {'name': 'mux6', 'length': 128, 'width': 7},
 {'name': 'new_thyroid', 'length': 215, 'width': 6},
 {'name': 'nursery', 'length': 12958, 'width': 9},
 {'name': 'optdigits', 'length': 5620, 'width': 65},
 {'name': 'page_blocks', 'length': 5473, 'width': 11},
 {'name': 'parity5', 'length': 32, 'width': 6},
 {'name': 'parity5+5', 'length': 1124, 'width': 11},
 {'name': 'pendigits', 'length': 10992, 'width': 17},
 {'name': 'penguins', 'length': 333, 'width': 8},
 {'name': 'phoneme', 'length': 5404, 'width': 6},
 {'name': 'pima', 'length': 768, 'width': 9}]

In [13]:
candidates

[{'name': 'GAMETES_Epistasis_2_Way_1000atts_0.4H_EDM_1_EDM_1_1',
  'length': 1600,
  'width': 1001},
 {'name': 'GAMETES_Epistasis_2_Way_20atts_0.1H_EDM_1_1',
  'length': 1600,
  'width': 21},
 {'name': 'GAMETES_Epistasis_2_Way_20atts_0.4H_EDM_1_1',
  'length': 1600,
  'width': 21},
 {'name': 'GAMETES_Epistasis_3_Way_20atts_0.2H_EDM_1_1',
  'length': 1600,
  'width': 21},
 {'name': 'GAMETES_Heterogeneity_20atts_1600_Het_0.4_0.2_50_EDM_2_001',
  'length': 1600,
  'width': 21},
 {'name': 'GAMETES_Heterogeneity_20atts_1600_Het_0.4_0.2_75_EDM_2_001',
  'length': 1600,
  'width': 21},
 {'name': 'Hill_Valley_with_noise', 'length': 1212, 'width': 101},
 {'name': 'Hill_Valley_without_noise', 'length': 1212, 'width': 101},
 {'name': 'adult', 'length': 48842, 'width': 15},
 {'name': 'agaricus_lepiota', 'length': 8145, 'width': 23},
 {'name': 'allbp', 'length': 3772, 'width': 30},
 {'name': 'allhyper', 'length': 3771, 'width': 30},
 {'name': 'allhypo', 'length': 3770, 'width': 30},
 {'name': 'allrep', 'length': 3772, 'width': 30},
 {'name': 'analcatdata_aids', 'length': 50, 'width': 5},
 {'name': 'analcatdata_asbestos', 'length': 83, 'width': 4},
 {'name': 'analcatdata_authorship', 'length': 841, 'width': 71},
 {'name': 'analcatdata_bankruptcy', 'length': 50, 'width': 7},
 {'name': 'analcatdata_boxing1', 'length': 120, 'width': 4},
 {'name': 'analcatdata_boxing2', 'length': 132, 'width': 4},
 {'name': 'analcatdata_creditscore', 'length': 100, 'width': 7},
 {'name': 'analcatdata_cyyoung8092', 'length': 97, 'width': 11},
 {'name': 'analcatdata_cyyoung9302', 'length': 92, 'width': 11},
 {'name': 'analcatdata_dmft', 'length': 797, 'width': 5},
 {'name': 'analcatdata_fraud', 'length': 42, 'width': 12},
 {'name': 'analcatdata_germangss', 'length': 400, 'width': 6},
 {'name': 'analcatdata_happiness', 'length': 60, 'width': 4},
 {'name': 'analcatdata_japansolvent', 'length': 52, 'width': 10},
 {'name': 'analcatdata_lawsuit', 'length': 264, 'width': 5},
 {'name': 'ann_thyroid', 'length': 7200, 'width': 22},
 {'name': 'appendicitis', 'length': 106, 'width': 8},
 {'name': 'australian', 'length': 690, 'width': 15},
 {'name': 'auto', 'length': 202, 'width': 26},
 {'name': 'backache', 'length': 180, 'width': 33},
 {'name': 'balance_scale', 'length': 625, 'width': 5},
 {'name': 'biomed', 'length': 209, 'width': 9},
 {'name': 'breast', 'length': 699, 'width': 11},
 {'name': 'breast_cancer', 'length': 286, 'width': 10},
 {'name': 'breast_cancer_wisconsin', 'length': 569, 'width': 31},
 {'name': 'breast_w', 'length': 699, 'width': 10},
 {'name': 'buggyCrx', 'length': 690, 'width': 16},
 {'name': 'bupa', 'length': 345, 'width': 6},
 {'name': 'calendarDOW', 'length': 399, 'width': 33},
 {'name': 'car', 'length': 1728, 'width': 7},
 {'name': 'car_evaluation', 'length': 1728, 'width': 22},
 {'name': 'cars', 'length': 392, 'width': 9},
 {'name': 'chess', 'length': 3196, 'width': 37},
 {'name': 'churn', 'length': 5000, 'width': 21},
 {'name': 'clean1', 'length': 476, 'width': 169},
 {'name': 'clean2', 'length': 6598, 'width': 169},
 {'name': 'cleve', 'length': 303, 'width': 14},
 {'name': 'cleveland', 'length': 303, 'width': 14},
 {'name': 'cleveland_nominal', 'length': 303, 'width': 8},
 {'name': 'cloud', 'length': 108, 'width': 8},
 {'name': 'cmc', 'length': 1473, 'width': 10},
 {'name': 'coil2000', 'length': 9822, 'width': 86},
 {'name': 'colic', 'length': 368, 'width': 23},
 {'name': 'collins', 'length': 485, 'width': 24},
 {'name': 'confidence', 'length': 72, 'width': 4},
 {'name': 'connect_4', 'length': 67557, 'width': 43},
 {'name': 'contraceptive', 'length': 1473, 'width': 10},
 {'name': 'corral', 'length': 160, 'width': 7},
 {'name': 'credit_a', 'length': 690, 'width': 16},
 {'name': 'credit_g', 'length': 1000, 'width': 21},
 {'name': 'crx', 'length': 690, 'width': 16},
 {'name': 'dermatology', 'length': 366, 'width': 35},
 {'name': 'diabetes', 'length': 768, 'width': 9},
 {'name': 'dis', 'length': 3772, 'width': 30},
 {'name': 'dna', 'length': 3186, 'width': 181},
 {'name': 'ecoli', 'length': 327, 'width': 8},
 {'name': 'fars', 'length': 100968, 'width': 30},
 {'name': 'flags', 'length': 178, 'width': 44},
 {'name': 'flare', 'length': 1066, 'width': 11},
 {'name': 'german', 'length': 1000, 'width': 21},
 {'name': 'glass', 'length': 205, 'width': 10},
 {'name': 'glass2', 'length': 163, 'width': 10},
 {'name': 'haberman', 'length': 306, 'width': 4},
 {'name': 'hayes_roth', 'length': 160, 'width': 5},
 {'name': 'heart_c', 'length': 303, 'width': 14},
 {'name': 'heart_h', 'length': 294, 'width': 14},
 {'name': 'heart_statlog', 'length': 270, 'width': 14},
 {'name': 'hepatitis', 'length': 155, 'width': 20},
 {'name': 'horse_colic', 'length': 368, 'width': 23},
 {'name': 'house_votes_84', 'length': 435, 'width': 17},
 {'name': 'hungarian', 'length': 294, 'width': 14},
 {'name': 'hypothyroid', 'length': 3163, 'width': 26},
 {'name': 'ionosphere', 'length': 351, 'width': 35},
 {'name': 'iris', 'length': 150, 'width': 5},
 {'name': 'irish', 'length': 500, 'width': 6},
 {'name': 'kddcup', 'length': 494020, 'width': 42},
 {'name': 'kr_vs_kp', 'length': 3196, 'width': 37},
 {'name': 'krkopt', 'length': 28056, 'width': 7},
 {'name': 'labor', 'length': 57, 'width': 17},
 {'name': 'led24', 'length': 3200, 'width': 25},
 {'name': 'led7', 'length': 3200, 'width': 8},
 {'name': 'letter', 'length': 20000, 'width': 17},
 {'name': 'lupus', 'length': 87, 'width': 4},
 {'name': 'lymphography', 'length': 148, 'width': 19},
 {'name': 'magic', 'length': 19020, 'width': 11},
 {'name': 'mfeat_factors', 'length': 2000, 'width': 217},
 {'name': 'mfeat_fourier', 'length': 2000, 'width': 77},
 {'name': 'mfeat_karhunen', 'length': 2000, 'width': 65},
 {'name': 'mfeat_morphological', 'length': 2000, 'width': 7},
 {'name': 'mfeat_pixel', 'length': 2000, 'width': 241},
 {'name': 'mfeat_zernike', 'length': 2000, 'width': 48},
 {'name': 'mnist', 'length': 70000, 'width': 785},
 {'name': 'mofn_3_7_10', 'length': 1324, 'width': 11},
 {'name': 'molecular_biology_promoters', 'length': 106, 'width': 58},
 {'name': 'monk1', 'length': 556, 'width': 7},
 {'name': 'monk2', 'length': 601, 'width': 7},
 {'name': 'monk3', 'length': 554, 'width': 7},
 {'name': 'movement_libras', 'length': 360, 'width': 91},
 {'name': 'mushroom', 'length': 8124, 'width': 23},
 {'name': 'mux6', 'length': 128, 'width': 7},
 {'name': 'new_thyroid', 'length': 215, 'width': 6},
 {'name': 'nursery', 'length': 12958, 'width': 9},
 {'name': 'optdigits', 'length': 5620, 'width': 65},
 {'name': 'page_blocks', 'length': 5473, 'width': 11},
 {'name': 'parity5', 'length': 32, 'width': 6},
 {'name': 'parity5+5', 'length': 1124, 'width': 11},
 {'name': 'pendigits', 'length': 10992, 'width': 17},
 {'name': 'penguins', 'length': 333, 'width': 8},
 {'name': 'phoneme', 'length': 5404, 'width': 6},
 {'name': 'pima', 'length': 768, 'width': 9}]

In [14]:
mnist = fetch_data("mnist")

In [15]:
mnist.describe()

,target,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
count,70000.000000,70000.0,70000.0,70000.0,70000.0,70000.0,70000.0,70000.0,70000.0,70000.0,...,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.0,70000.0,70000.0,70000.0
mean,4.452429,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.197414,0.099543,0.046629,0.016614,0.012957,0.001714,0.0,0.0,0.0,0.0
std,2.890195,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.991206,4.256304,2.783732,1.561822,1.553796,0.320889,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,254.000000,254.000000,253.000000,253.000000,254.000000,62.000000,0.0,0.0,0.0,0.0

In [16]:
import pandas as pd

In [17]:
candidates_df = pd.DataFrame(candidates)

In [18]:
candidates_df[candidates_df['length']>1000]

                                                  name  length  width
0    GAMETES_Epistasis_2_Way_1000atts_0.4H_EDM_1_ED...    1600   1001
1          GAMETES_Epistasis_2_Way_20atts_0.1H_EDM_1_1    1600     21
2          GAMETES_Epistasis_2_Way_20atts_0.4H_EDM_1_1    1600     21
3          GAMETES_Epistasis_3_Way_20atts_0.2H_EDM_1_1    1600     21
4    GAMETES_Heterogeneity_20atts_1600_Het_0.4_0.2_...    1600     21
5    GAMETES_Heterogeneity_20atts_1600_Het_0.4_0.2_...    1600     21
6                               Hill_Valley_with_noise    1212    101
7                            Hill_Valley_without_noise    1212    101
8                                                adult   48842     15
9                                     agaricus_lepiota    8145     23
10                                               allbp    3772     30
11                                            allhyper    3771     30
12                                             allhypo    3770     30
13                                              allrep    3772     30
29                                         ann_thyroid    7200     22
43                                                 car    1728      7
44                                      car_evaluation    1728     22
46                                               chess    3196     37
47                                               churn    5000     21
49                                              clean2    6598    169
54                                                 cmc    1473     10
55                                            coil2000    9822     86
59                                           connect_4   67557     43
60                                       contraceptive    1473     10
67                                                 dis    3772     30
68                                                 dna    3186    181
70                                                fars  100968     30
72                                               flare    1066     11
85                                         hypothyroid    3163     26
89                                              kddcup  494020     42
90                                            kr_vs_kp    3196     37
91                                              krkopt   28056      7
93                                               led24    3200     25
94                                                led7    3200      8
95                                              letter   20000     17
98                                               magic   19020     11
99                                       mfeat_factors    2000    217
100                                      mfeat_fourier    2000     77
101                                     mfeat_karhunen    2000     65
102                                mfeat_morphological    2000      7
103                                        mfeat_pixel    2000    241
104                                      mfeat_zernike    2000     48
105                                              mnist   70000    785
106                                        mofn_3_7_10    1324     11
112                                           mushroom    8124     23
115                                            nursery   12958      9
116                                          optdigits    5620     65
117                                        page_blocks    5473     11
119                                          parity5+5    1124     11
120                                          pendigits   10992     17
122                                            phoneme    5404      6